server:
  port: ${PORT:8080}
  address: 0.0.0.0
  tomcat:
    uri-encoding: UTF-8
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:h2:file:/var/data/studyroom;MODE=MySQL;AUTO_SERVER=TRUE

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
